body{
    background-color: #897E7E !important;
}

#menu{
    color: #F24E1E !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif !important;
}

.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 20px !important;
}

.logo {
    font-size: 56px !important;
    font-family: "VT323", monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    left: 0 !important;

}

.links{
    position: absolute !important;
    display: flex !important;
    left: 25% !important;
    font-size: 36px !important;
    font-family: "VT323", monospace !important;
    font: none !important;
    color: white !important;
}

.links p {
    margin: 0 15px !important;
    cursor: pointer !important;
}

.links p:hover {
    
}

.pb{
    color: #3D87CC !important;
}

    

.cont {
    display: inline-block !important;
    position: relative !important;
    margin-left: 25% !important; 
    
}
.cont .text {
    position: absolute !important;
    text-align: center !important;
    left: 0 !important;
    right: 0 !important;
    font-family: "VT323", monospace !important;
    top: 30% !important;
    color: white !important;

}
#t1{
    font-size: 72px !important;
}
#t2{
    font-size: 48px !important;
}

.allmenu{
    display: block !important;
    margin: auto !important;
}

#scrll{

    display: block !important; 
    margin: auto !important;
}