/* LEO */
body{
    background-color: #897E7E !important;
}

#menu{
    color: #F24E1E !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif !important;
}

.navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 20px !important;
}

.logo {
    font-size: 56px !important;
    font-family: "VT323", monospace !important;
    font-weight: 400 !important;
    font-style: normal !important;
    left: 0 !important;

}

.links{
    position: absolute !important;
    display: flex !important;
    left: 25% !important;
    font-size: 36px !important;
    font-family: "VT323", monospace !important;
    font: none !important;
}

.links p {
    margin: 0 15px !important;
    cursor: pointer !important;
}

.links p:hover {
    
}

.pb{
    color: #3D87CC !important;
}

#lego{
   display: block !important;
   margin: auto !important;

}

.allmenu{
    display: block !important;
    margin: auto !important;
}

#scrll{

    display: block !important; 
    margin: auto !important;
}
.contact{
    background-color: black;
}
#contactt{
    text-align: center;
    color: #85EA74;
    font-size: 56px;
}
.txtcontact{
    font-family: "VT323", monospace !important;
}
.elt{
    color: white;
    font-size: 48px;
    
}
.cvm{
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
}

.reso{
    text-align: center;
}
/* LEO */




/* BABACAR */
.rouge{
    color: red;
    font-weight: bold;
}
.bleu{
    color: blue;
    font-weight: bold;
}
.purple{
    color: rgb(82, 48, 233);
    font-weight: bold;
}

/* BABACAR */
